// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  border: 1px solid $gray-light;
  border-radius: 5px;
  padding:1em;
  margin-bottom: 1em;
  .title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom:.5em;
  }
}

input[type='file'] {
  border: 1px solid #d1d1d1;
  padding: .5em;
  border-radius: .3em;
  width: 100%;
}

.gallery {
  overflow:auto;
  .picture {
    position:relative;
    margin:1.5em 0;
    .image img {
      border: 1px solid #928c75;
    }
    .title {}
    .content {}
    .actions {
      position:absolute;
    }
  }
}

.tag_list {
  margin-bottom: .5em;
}

a.tag {
  border:1px solid #eaeaea;
  border-radius:3px;
  background-color: #f4f4f4;
  padding:.1em .2em;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: #265484;
    border:1px solid #265484;
  }
}

ul#posts_tagged {
  margin-top:2em;
  li {
    margin-bottom: .5em;
  }
}